<div id="<%= dom_id assessment %>">
  <p>
    <strong>Parcel number:</strong>
    <%= assessment.parcel_number %>
  </p>

  <p>
    <strong>Assessment date:</strong>
    <%= assessment.assessment_date %>
  </p>

  <p>
    <strong>Assessor name:</strong>
    <%= assessment.assessor_name %>
  </p>

  <p>
    <strong>Property address:</strong>
    <%= assessment.property_address %>
  </p>

  <p>
    <strong>Gate:</strong>
    <%= assessment.gate %>
  </p>

  <p>
    <strong>Ing egg:</strong>
    <%= assessment.ing_egg %>
  </p>

  <p>
    <strong>Road cond:</strong>
    <%= assessment.road_cond %>
  </p>

  <p>
    <strong>Bridge weight:</strong>
    <%= assessment.bridge_weight %>
  </p>

  <p>
    <strong>Driveway width:</strong>
    <%= assessment.driveway_width %>
  </p>

  <p>
    <strong>Drivelen:</strong>
    <%= assessment.drivelen %>
  </p>

  <p>
    <strong>Turn:</strong>
    <%= assessment.turn %>
  </p>

  <p>
    <strong>Roof:</strong>
    <%= assessment.roof %>
  </p>

  <p>
    <strong>Clean:</strong>
    <%= assessment.clean %>
  </p>

  <p>
    <strong>Eaves:</strong>
    <%= assessment.eaves %>
  </p>

  <p>
    <strong>Vents:</strong>
    <%= assessment.vents %>
  </p>

  <p>
    <strong>Bld ext:</strong>
    <%= assessment.bld_ext %>
  </p>

  <p>
    <strong>Decks:</strong>
    <%= assessment.decks %>
  </p>

  <p>
    <strong>Comb mat:</strong>
    <%= assessment.comb_mat %>
  </p>

  <p>
    <strong>Propane:</strong>
    <%= assessment.propane %>
  </p>

  <p>
    <strong>Site water:</strong>
    <%= assessment.site_water %>
  </p>

  <p>
    <strong>Fveg z1:</strong>
    <%= assessment.fveg_z1 %>
  </p>

  <p>
    <strong>Sveg z1:</strong>
    <%= assessment.sveg_z1 %>
  </p>

  <p>
    <strong>Lad fl1:</strong>
    <%= assessment.lad_fl1 %>
  </p>

  <p>
    <strong>Fveg z2:</strong>
    <%= assessment.fveg_z2 %>
  </p>

  <p>
    <strong>Sveg z2:</strong>
    <%= assessment.sveg_z2 %>
  </p>

  <p>
    <strong>Lad fuel 2:</strong>
    <%= assessment.lad_fuel_2 %>
  </p>

  <p>
    <strong>Contfuel:</strong>
    <%= assessment.contfuel %>
  </p>

  <p>
    <strong>Struct alignment:</strong>
    <%= assessment.struct_alignment %>
  </p>

  <p>
    <strong>Slope:</strong>
    <%= assessment.slope %>
  </p>

  <p>
    <strong>Setback:</strong>
    <%= assessment.setback %>
  </p>

  <p>
    <strong>Pos slope:</strong>
    <%= assessment.pos_slope %>
  </p>

  <p>
    <strong>Aspect:</strong>
    <%= assessment.aspect %>
  </p>

  <p>
    <strong>Ff risk access:</strong>
    <%= assessment.ff_risk_access %>
  </p>

  <p>
    <strong>Ff risk propgas:</strong>
    <%= assessment.ff_risk_propgas %>
  </p>

  <p>
    <strong>Ff risk ohpower:</strong>
    <%= assessment.ff_risk_ohpower %>
  </p>

  <p>
    <strong>Ff risk pets:</strong>
    <%= assessment.ff_risk_pets %>
  </p>

  <p>
    <strong>Ff risk hazmat:</strong>
    <%= assessment.ff_risk_hazmat %>
  </p>

  <p>
    <strong>Ff risk escape safety:</strong>
    <%= assessment.ff_risk_escape_safety %>
  </p>

  <p>
    <strong>Ff risk solar:</strong>
    <%= assessment.ff_risk_solar %>
  </p>

  <p>
    <strong>Risk category:</strong>
    <%= assessment.risk_category %>
  </p>

  <p>
    <strong>Total score:</strong>
    <%= assessment.total_score %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= assessment.notes %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= assessment.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= assessment.longitude %>
  </p>

</div>
